<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>J4Lyl471</username>
            <password>rPkFE0qBt9d2kAtTSYZVcO0apJhkD/2FBZTNHt7/POse</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>0x27BB84A8</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>